<div class="container-fluid ml-2" *ngIf="histoire">
  <h4 class="m-3">Details de l'histoire :</h4>
  <div class="m-3">
    <span class="font-weight-bold">ID : </span> {{histoire.id}} <br>
    <span class="font-weight-bold">Titre : </span> {{histoire.title}} <br>
    <span class="font-weight-bold">Contenu : </span> {{histoire.content}} <br>
    <span class="font-weight-bold">Date de création : </span> {{histoire.creationDate}} <br>
    <div *ngIf="reponse"><span class="font-weight-bold">Réponse : </span> {{reponse.content}} </div>
    <span class="font-weight-bold">Validated : </span> {{histoire.validated}} <br>
  </div>
  <div class="m-3">
    <div class="form-check">
      <input (click)="validate()" class="form-check-input" type="checkbox" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Validation
      </label>
    </div>
  </div>

</div>
