<div class="container-fluid">

  <h2 class="m-4">Répondre à une histoire</h2>

  <div class="container row justify-content-start ml-1">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let histoire of histoiresNonRep"
        [class.active]="histoire === selectHistoire"
        (click)="onSelect(histoire)">
            <span class="badge">{{histoire.id}}</span> {{histoire.title}}
        </li>
    </ul>

    <div class="container-fluid mt-2" *ngIf="selectHistoire">
      <div class="form-group">
        <label for="rep-content">Entrer une réponse : </label>
        <input type="text" class ="form-control" id="rep-content" [(ngModel)]="userReponse.content">
      </div>
      <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
    </div>

  </div>

</div>
