<div class="container-fluid">
  <h2 class="m-4">Dashboard</h2>

  <div class="col-8 mb-2 ml-2">
    <div class="form-check form-check-inline">
      <input [(ngModel)]="validated" (change)="onChange()" class="form-check-input" type="checkbox" id="validated" value="validated">
      <label class="form-check-label" for="validated">Histoires validées</label>
    </div>
    <div class="form-check form-check-inline">
      <input [(ngModel)]="answered" (change)="onChange()" class="form-check-input" type="checkbox" id="answered" value="answered">
      <label class="form-check-label" for="answered">Avec réponse</label>
    </div>
    <div class="form-check form-check-inline">
      <input [(ngModel)]="all" (change)="onChange()" class="form-check-input" type="checkbox" id="all" value="all">
      <label class="form-check-label" for="all">Tout</label>
    </div>
  </div>

  <div class="container row justify-content-start ml-1">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let histoire of histoires"
      [class.active]="histoire === selectHistoire"
      (click)="onSelect(histoire)">
        <span class="badge">{{histoire.id}}</span> {{histoire.title}}
      </li>
    </ul>
  </div>
</div>

<app-histoire-detail [histoire]="selectHistoire" [reponse]="selectReponse"></app-histoire-detail>
