<div class="container-sm m-4">
  <button (click)="random()" type="button" class="btn btn-lg btn-primary">Trouver une histoire</button>
</div>

<div class="container row justify-content-start ml-1">
  <div class="container-fluid m-2" *ngIf="randomHistoire">
    <div class="mt-2 mb-2">
      <span class="font-weight-bold">{{randomHistoire.title}}</span> <br>
      {{randomHistoire.content}}
    </div>
    <div class="form-group">
      <label for="rep-content">Entrer une réponse : </label>
      <input type="text" class ="form-control" id="rep-content" [(ngModel)]="userReponse.content">
    </div>
    <button (click)="submit()" type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
